[submodule "xygu-galixipy"]
	path = xygu-galixipy
	url = https://github.com/scikit-learn/scikit-learn.git
[submodule "dipirudu-gycynaho"]
	path = dipirudu-gycynaho
	url = https://github.com/tensorflow/tensorflow.git
[submodule "joca-tiqyqe"]
	path = joca-tiqyqe
	url = https://github.com/python/cpython.git
[submodule "tomu-xinyjywu"]
	path = tomu-xinyjywu
	url = https://github.com/microsoft/vscode.git
[submodule "cosi-quqo"]
	path = cosi-quqo
	url = https://github.com/angular/angular.git
[submodule "syqywucy-qybyvy"]
	path = syqywucy-qybyvy
	url = https://github.com/microsoft/TypeScript.git
[submodule "lujuwuvi-zaci"]
	path = lujuwuvi-zaci
	url = https://github.com/nodejs/node.git
[submodule "hizyje-seduny"]
	path = hizyje-seduny
	url = https://github.com/apache/spark.git
[submodule "tyca-xaca"]
	path = tyca-xaca
	url = https://github.com/d3/d3.git
[submodule "zagude-memari"]
	path = zagude-memari
	url = https://github.com/rust-lang/rust.git
[submodule "dynutimy-hudaqo"]
	path = dynutimy-hudaqo
	url = https://github.com/flask/flask.git
[submodule "jabifu-gusozi"]
	path = jabifu-gusozi
	url = https://github.com/grpc/grpc.git
